@using BOL.student
@{
    ViewData["Title"]="Delete";
}

 @{
    Student s=(Student)ViewData["particular_id"];

    <form method="post">
    
       <input type="submit" value="Delete"/>
   
    </form>
          
}