<form method="post">
    
        <div class="form-group" >
        <label for="Student ID">Student ID</label>
        <input type="number" class="form-control" placeholder="Enter Id" name="Id">
    </div>
        <div class="form-group">
        <label for="First_name">First_name</label>
        <input type="text" class="form-control" placeholder="Enter first name" name="First_name">
    </div>
        <div class="form-group">
        <label for="Last_name">Last_names</label>
       <input type="text" class="form-control" placeholder="Enter last name" name="Last_name">
    </div>
    <br>
    <input type="submit" class="btn btn-success" value="Save"/>
   
    </form>