

@{
        ViewData["Title"]="login";
}

  <div class="container">
  <form method="post">
    <label for="User_name"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="User_name" required>

    <label for="Password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="Password" required>

    <button type="submit">Login</button>
    </form>
  </DIV>