@{
    ViewData["Title"] = "Employee Page";
}

<div class="text-center contain">
    <h1 class="display-4">Delete Employee</h1>
    <hr/>
    <form action="POST">
        <label for="id">Employee ID: <input type="text" name="id" id="id"></label>
        <br />
        <br />
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
