@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center contain">
    <h1 class="display-4">Show Employee</h1>
    <hr/>
    <div class="contain">
        <div><h1>Employee Id</h1><h3>@Model.EmpId</h3></div>
        <div><h1>First Name</h1><h3>@Model.FName</h3></div>
        <div><h1>Last Name</h1><h3>@Model.LName</h3></div>
    </div>
</div>
